extends layout

block content
  h1= title
  table
    tr
      td
        textarea(id="markdownSource", rows=25, cols=100)= "Github __Flavored__ Markdown"
      td
        article.markdown-body.entry-content(id="htmlTarget")= "Loading"
