extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand= title
        .nav-collapse.collapse
          ul.nav
        a.contribute(href="https://github.com/pcorliss/github-scratchpad") Contribute on Git

  .container-fluid
    .row-fluid
      .span6
        textarea(id="markdownSource")= sample_text
      .span6
        article.markdown-body.entry-content(id="htmlTarget")= "Loading"
