extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand= title
        .nav-collapse.collapse
          ul.nav

  .container-fluid
    .row-fluid
      .span6
        textarea(id="markdownSource", cols=100)= "Github __Flavored__ Markdown"
      .span6
        article.markdown-body.entry-content(id="htmlTarget")= "Loading"
