doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/github-a3a6f11f933fa375d623670fb32ec69840f30d25.css')
    link(rel='stylesheet', href='/stylesheets/github2-df74bbf87bba9dccfc9520b0f73402fbb8412896.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js');
    script(type='text/javascript', src='/javascripts/parse.js');
  body
    block content
